.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: antiquewhite;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;

    input {
      border: none;
      font-size: 1.8rem;
      padding: 2px 4px 2px 4px;
      margin: 15px;
      height: 35px;
      border-radius: 5px;
    }
    input:focus {
      outline-color: rgba(0, 0, 0, 0.619);
    }
  }
}




// video {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   opacity: 0.6;
//   filter: grayscale(50%);
// }